<table class="requesttable">
    <thead>
        <tr>
            <th>Description</th>
            <th>Created</th>
            <th>Initiated</th>
            <th>Completed</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <% requests.forEach((request, index) => { %>
            <tr>
                <td>
                    <%= request.description %>
                </td>
                <td>
                    <%= new Date(request.created) %>
                </td>
                <td>
                    <%= new Date(request.initiated) %>
                </td>
                <td>
                    <%= request.finished ? new Date(request.finished) : '' %>
                </td>
                <td>
                    <%= request.status %>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>